.streamer_container {
  color: var(--c-primary);
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0 100px;
  @media (max-width: 1200px) {
    padding: 0 70px;
  }
  @media (max-width: 876px) {
    padding: 0 50px;
  }
}
.streamer {
  width: 100%;
  padding: 40px 10px 60px 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 700px) {
    flex-flow: column;
    padding: 20px 0 18px 0;
  }
  // max-width: 1200px;
}

@keyframes ldio-rpinwye8j0b {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes ldio {
  0% {
    top: 96px;
    left: 96px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 18px;
    left: 18px;
    width: 156px;
    height: 156px;
    opacity: 0;
  }
}

.ldio div:nth-child(1) {
  border-color: var(--c-primary);
  animation-delay: 0s;
}

.ldio div:nth-child(2) {
  border-color: #46dff0;
  animation-delay: -0.5s;
}

.ldio div {
  position: absolute;
  border-width: 4px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  animation: ldio 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.loading {
  display: flex;
  position: absolute;
  right: 42%;
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  @media (max-width: 1000px) {
    right: 38%;
  }
  @media (max-width: 768px) {
    right: 34%;
  }
  @media (max-width: 500px) {
    right: 29%;
  }
  @media (max-width: 414px) {
    right: 26%;
  }
}

.ldio {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}

.ldio div {
  box-sizing: content-box;
}

.streamer_video {
  display: flex;
  justify-content: center;
}

.vod_container {
  cursor: pointer;
  margin-bottom: 1rem;
  flex: 0 0 25%;
  // max-width: 25%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 0.5rem;
  @media (max-width: 1200px) {
    max-width: 33.33%;
    padding: 10px 10px;
  }
  @media (max-width: 876px) {
    max-width: 50%;
    padding: 10px 10px;
  }
  @media (max-width: 500px) {
    max-width: 100%;
    padding: 10px 10px;
  }
}

.video_grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  max-width: 1200px;
}

.noise {
  z-index: -40;
  position: absolute;
  inset: 0;
  background-image: url(/src/shared/assets/noise.webp);
  opacity: 0.1;
  mix-blend-mode: overlay;
  pointer-events: none;
}

.figure1 {
  -webkit-mask-image: radial-gradient(rgba(0, 0, 0, 0.8), transparent 70%);
  opacity: 0.85;
  background-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 5%,
    rgba(57, 68, 194, 1) 35%,
    rgba(9, 11, 106, 1) 90%
  );
  border-radius: 9999px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  width: max(25vw, 100px);
  position: absolute;
  height: 400px;
  bottom: -100px;
  left: -200px;
  z-index: -30;
}

.figure2 {
  -webkit-mask-image: radial-gradient(rgba(0, 0, 0, 0.8), transparent 70%);
  opacity: 0.95;
  background-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgb(24, 10, 10) 10%,
    rgba(59, 17, 17, 1) 30%,
    rgba(255, 0, 0, 1) 90%
  );
  width: 1200px;
  height: 1200px;
  position: absolute;
  top: -260px;
  right: -480px;
  z-index: -9999;
  border-radius: 9999px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.vod_img {
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0;
  margin: 0;
  padding: 0;
  position: relative;
  img {
    filter: brightness(70%);
    opacity: 0.95;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.5s;
    border-radius: 0.5rem;
    // transform: translateX(0) translateY(0) rotate(0) skewX(1) skewY(1) scaleX(1)
    //   scaleY(1);
    vertical-align: middle;
  }
}

.vod_info {
  padding: 0.5rem 1rem;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 100%;
  display: flex;
  top: 0;
  left: 0;
  position: absolute;
}
.vod_info_top {
  font-size: 0.75rem;
  line-height: 1rem;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.vod_view {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: rgba(5, 5, 9, 0.75);
  border-radius: 99999px;
  align-items: center;
  height: 1.25rem;
  display: flex;
  color: #fff;

  svg {
    color: #bfbfcb;
    fill: currentColor;
    width: 0.75rem;
    height: 0.75rem;
    margin-right: 0.5rem;
    overflow: hidden;
  }
  span {
    font-weight: 700;
  }
}

.vod_duration {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: rgba(5, 5, 9, 0.75);
  border-radius: 99999px;
  align-items: center;
  height: 1.25rem;
  display: flex;
  color: #fff;
  span {
    font-weight: 700;
  }
}

.vod_info_bottom {
  font-size: 0.75rem;
  line-height: 1rem;
  align-items: flex-end;
  display: flex;
}

.vod_info_container {
  margin-left: 0.75rem;
  overflow: hidden;
}

.vod_user {
  font-weight: 700;
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0.75rem;
  line-height: 1.15rem;
}
.vod_title {
  font-size: 0.875rem;
  line-height: 1.25rem;

  font-weight: 700;
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
}

.vod_day {
  color: #bfbfcb;
  font-size: 0.75rem;
  line-height: 1rem;
  text-align: start;
}

.streamer_logo {
  // width: 25%;
  display: flex;
  flex-flow: column;
  align-items: self-start;
  padding-right: 56px;
  div {
    padding-top: 80px;
    font-size: clamp(2rem, 6vw, 80px);
  }
  img {
    border: 2px solid var(--c-secondary);
    width: 200px;
    height: 200px;
  }
  @media (max-width: 1000px) {
    padding-right: 18px;
  }
  @media (max-width: 700px) {
    padding: 0;
    align-items: center;
    justify-content: center;
    div {
      padding: 20px;
    }
    img {
      border: 2px solid var(--c-secondary);
      width: 240px;
      height: 240px;
    }
    // padding: 20px 0 18px 0;
  }
}

.streamer_info {
  display: flex;
  width: 25%;
}
.streamer_info_container {
  width: 100%;
  align-items: center;
  position: relative;
  right: 80px;
  top: 40px;
  flex-flow: column;
}

.streamer_joined {
  display: flex;
  position: relative;
  padding-bottom: 10px;
  justify-content: space-between;
}

.streamer_description {
  padding: 20px 0 30px 0;
}

.twitch_player {
  border: 2px solid var(--c-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(380px, 54vw, 503px);
  height: clamp(230px, 42vw, 363px);
  cursor: pointer;
  @media (max-width: 700px) {
    width: 82vw;
    height: 30vh;
    border: 0;
  }
}
.twitch_player2 {
  width: clamp(380px, 54vw, 503px);
  height: clamp(230px, 42vw, 363px);
  cursor: pointer;
  border: 2px solid var(--c-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  @media (max-width: 700px) {
    width: 82vw;
    height: 30vh;
    border: 0;
    z-index: 10;
  }
}
.twitch_player_main {
  width: clamp(380px, 54vw, 503px) !important;
  height: clamp(230px, 42vw, 363px) !important;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  @media (max-width: 700px) {
    width: 82vw !important;
    height: 30vh !important;
    border: 0;
    z-index: 10;
  }
}
.twitch_player_main_2 {
  width: clamp(300px, 72vw, 1500px) !important;
  height: clamp(120px, 41vw, 800px) !important;
  @media (max-width: 700px) {
    width: 82vw !important;
    height: 30vh !important;
  }
}

.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal_content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: clamp(300px, 72vw, 1500px);
  height: clamp(120px, 41vw, 800px);
  background: rgba(0, 0, 0, 0.8);
  padding: 20px;
  position: relative;
}

.close_button {
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--c-secondary);
  cursor: pointer;
  &::before {
    content: "✕";
    font-size: 28px;
  }
}

.twitch_iframe {
  border: 1px solid black;
  width: clamp(300px, 70vw, 1500px);
  height: clamp(120px, 40vw, 800px);
}

.twitch_offline {
  width: 100px;
  height: 100px;
}

.loader {
  display: flex;
  padding-top: 50px;
  align-items: center;
  justify-content: center;
  top: 50px;
  font-size: 1.5rem;
  color: var(--h-secondary);
}

.spinner {
  top: 50px;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin-right: 0.5rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
